---
import HeaderLayout from '../../layouts/HeaderLayout.astro';

import 'katex/dist/katex.min.css';

import { getCollection } from 'astro:content';

// 1. コレクションエントリーごとに新しいパスを生成
export async function getStaticPaths() {
  const waveEntries = await getCollection('wave');
  return waveEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const titleOnHeader = entry.data.title + ' | Wave Graphics';
---

<Fragment slot="head">
  <title>{titleOnHeader}</title>
  <meta name="description" content={entry.data.description} />

  <!-- og tags -->
  <meta property="og:title" content={titleOnHeader} />
  <meta property="og:description" content={entry.data.description} />

  <!-- Twitter Tags -->
  <meta name="twitter:title" content={titleOnHeader} />
  <meta name="twitter:description" content={entry.data.description} />
</Fragment>

<HeaderLayout ogType="article">
  <div class="link">
    {entry.data.pairName && <a href={`/wave/${entry.data.pairPath}/`}>{entry.data.pairName}へ＞</a>}
  </div>
  <h2 data-pagefind-meta="title">{entry.data.title}</h2>
  <div class="descriptionSlot">
    <span>公開：<time>{entry.data.pubDate.toLocaleDateString('ja-jp')}</time></span>
    <p>{entry.data.description}</p>
    {entry.data.pairName && <p>※右上のリンクから，{entry.data.pairName}もご覧いただけます．</p>}
  </div>
  <section class="mainContent">
    <Content />
  </section>
</HeaderLayout>

<style lang="scss">
  .descriptionSlot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
    box-sizing: border-box;

    p {
      max-width: 707px;
      color: var(--foregroundSub);
    }
  }
  .mainContent {
    box-sizing: border-box;
    width: 100%;
    padding: 0 22px;
  }
  .link {
    width: 100%;
    text-align: right;
  }
</style>
