---
import HeaderLayout from '../../layouts/HeaderLayout.astro';

import { getCollection } from 'astro:content';

// 波
const waveEntries = await getCollection('wave');

const sortedWaveEntries = waveEntries.sort((a, b) => {
  return b.data.num - a.data.num;
});

const title = '並の模型一覧 | Wave Graphics'
const description = 'Wave Graphicsでは，様々な波の様子を御覧いただけます．'
---

<Fragment slot="head">
  <title>{title}</title>
  <meta name='description' content={description} />

  <!-- og tags -->
  <meta property='og:title' content={title} />
  <meta property='og:description' content={description} />
</Fragment>

<HeaderLayout>
  <h2 data-pagefind-meta="title">波の模型一覧</h2>
  <p>Wave Graphics Appでは，以下のような波をご覧いただけます．スクロールして見てみましょう！</p>
  <ul>
    {
      sortedWaveEntries.map((waveEntry) => (
        <li>
          <h4>
            <a class="h4title" href={`/wave/${waveEntry.slug}/`}>
              {waveEntry.data.title}
            </a>
            <>
              <time class="subText">{waveEntry.data.pubDate.toLocaleDateString('ja-jp')}</time>
              <span class="subText">公開</span>
            </>
          </h4>
          <div class="subText">
            <p>{waveEntry.data.description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</HeaderLayout>

<style lang="scss">
  .h4title {
    font-weight: bold;
    font-size: 1em;
  }
  .h4description {
    font-weight: normal;
    font-size: 1em;
  }
  .subText {
    color: var(--foregroundSub);
    font-weight: normal;
  }
</style>
