---
import HeaderLayout from '../layouts/HeaderLayout.astro';

import FormDisplay from '../components/FormUI/FormDisplay.svelte';

const title = 'アンケート | Wave Graphics';
const description = 'Wave Graphics Appに関する，アンケートにご協力をお願いいたします．';
---

<Fragment slot="slot">
  <title>{title}</title>
  <meta name='description' content={description} />

  <!-- og tags -->
  <meta property='og:title' content={title} />
  <meta property='og:description' content={description} />

  <!-- Twitter Tags -->
  <meta name='twitter:title' content={title} />
  <meta name='twitter:description' content={description} />
</Fragment>

<HeaderLayout>
  <h2 data-pagefind-meta="title">アンケート</h2>
  <div class="subSlot">
    <p>Wave Graphics Appに関するアンケートにご協力をお願いします．</p>
  </div>
  <FormDisplay client:load />
</HeaderLayout>
