---
import { ClientRouter } from 'astro:transitions';

interface Props {
  anotherFavicon?: string;
  ogType?: string;
}

// KaTeX
import 'katex/dist/katex.min.css';

// Propsでメタタグを受け渡し
const {
  ogType = 'website',
  anotherFavicon = 'https://wave.graphics/hotlink-ok/icons/favicon.png',
} = Astro.props;

const 正規URL = new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang="ja">
  <head>
    <!-- 基本情報から -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- slot -->
    <slot name="head" />

    <!-- SEO対策とメタタグ -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={正規URL} />

    <!-- アイコン -->
    <link rel="apple-touch-icon" href="/hotlink-ok/icons/favicon.png" />
    <link rel="icon" href="/hotlink-ok/icons/favicon.png" />
    <meta data-pagefind-default-meta="image[content]" content={anotherFavicon} />

    <!-- SNS -->
    <meta property="og:image" content={anotherFavicon} />
    <meta property="og:url" content={正規URL} />
    <meta property="og:site_name" content="Wave Graphics" />
    <meta property="og:type" content={ogType} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@wing__0902" />
    <meta name="twitter:domain" content="wave.graphics" />
    <meta name="twitter:image" content={anotherFavicon} />

    <!-- Astro -->
    <ClientRouter />
  </head>
  <body>
    <slot transition:animate="fade" />
  </body>
</html>

<style is:global>
  @import '../styles/globals.scss';
</style>

<style lang="scss">
  body {
    padding: 0;
    margin: auto 0;
  }
</style>
