---
import { ClientRouter } from 'astro:transitions';

interface Props {
  title?: string;
  description?: string;
  anotherFavicon?: string;
  noindex?: boolean;
  ogType?: string;
}

// KaTeX
import 'katex/dist/katex.min.css';

// Propsでメタタグを受け渡し
const { ogType = 'website', noindex = false, anotherFavicon = 'https://wave.graphics/hotlink-ok/icons/favicon.png', title = 'Wave Graphics', description = 'Wave Graphicsアプリへようこそ！このアプリでは，物理の授業で出てきそうな，波の模型をデジタル化し，ウェブで閲覧可能にしたものです．' } = Astro.props;

const currentURL = decodeURI(Astro.url.pathname);
const 正規URL = `https://wave.graphics${currentURL}`;
---

<!doctype HTML>
<html lang='ja'>
  <head>
    <!-- 基本情報から -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO対策とメタタグ -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {noindex && <meta name="robots" content="noindex" />}
    <link rel="canonical" href={正規URL} />

    <!-- アイコン -->
    <link rel="apple-touch-icon" href="/hotlink-ok/icons/favicon.png" />
    <link rel="icon" href='/hotlink-ok/icons/favicon.png' />
    <meta data-pagefind-default-meta="image[content]" content={anotherFavicon} />

    <!-- SNS -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={anotherFavicon} />
    <meta property="og:url" content={正規URL} />
    <meta property="og:site_name" content="Wave Graphics" />
    <meta property="og:type" content={ogType} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@wing__0902" />
    <meta name="twitter:domain" content="wave.graphics" />
    <meta property="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={anotherFavicon} />

    <!-- Astro -->
    <ClientRouter />
  </head>
  <body>
    <slot transition:animate="fade" />
    <p>ここは：{正規URL}</p>
  </body>
</html>

<style is:global>
  @import "../styles/globals.scss";
</style>

<style lang="scss">
  body {
    padding: 0;
    margin: auto 0;
  }
</style>