---
import { ClientRouter } from 'astro:transitions';

interface Props {
  title?: string;
  description?: string;
  anotherFavicon?: string;
  noindex?: boolean;
}

// KaTeX
import 'katex/dist/katex.min.css';

// Propsでメタタグを受け渡し
const { noindex = false, anotherFavicon = '/icons/favicon.png', title = 'Wave Graphics', description = 'Wave Graphicsアプリへようこそ！このアプリでは，物理の授業で出てきそうな，波の模型をデジタル化し，ウェブで閲覧可能にしたものです．' } = Astro.props;
---

<!doctype HTML>
<html lang='ja'>
  <head>
    <!-- 基本情報から -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO対策とメタタグ -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {noindex && <meta name="robots" content="noindex" />}

    <!-- アイコン -->
    <link rel="apple-touch-icon" href={anotherFavicon} />
    <link rel="icon" href={anotherFavicon} />
    <meta data-pagefind-default-meta="image[content]" content={anotherFavicon} property="og:image" />

    <!-- SNS -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Astro -->
    <ClientRouter />
  </head>
  <body>
    <slot transition:animate="fade" />
  </body>
</html>

<style is:global>
  @import "../styles/globals.scss";
</style>

<style lang="scss">
  body {
    padding: 0;
    margin: auto 0;
  }
</style>